@model Yurt.Models.misafirler

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>misafirler</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.mis_tcPas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_tcPas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_ad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_ad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_soyad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_soyad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_cinsiyet)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_cinsiyet)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_uyruk)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_uyruk)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_tel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_tel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_giris)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_giris)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_cikis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_cikis)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_kgun)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_kgun)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_yatakucret)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_yatakucret)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mis_borc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mis_borc)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.mis_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
